.bars {
        position: absolute;
        left: 17%;
        bottom: 10px;
}

.singleBar {
        display: inline-block;
        margin: 1px;
        width: 10px;
}       

.buttons {
        background-color: pink;
        border: 0.1em solid #000000;
        border-radius: 0.12em;
}