.bars {
        position: absolute;
        bottom: 10px;
        left: 3%
}

.singleBar {
        display: inline-block;
        margin: 1px;
        width: 12px;
}       

.buttons {
        background-color: white;
        border: 0.2em solid #000000;
        border-radius: 0.25em;
        
}